<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/styles/style_main/month_view.css" />
  </head>
  <body>
    <section id="month-view">
      <div id="month-header">
        <p class="day_of_week">Sun</p>
        <p class="day_of_week">Mon</p>
        <p class="day_of_week">Tue</p>
        <p class="day_of_week">Wed</p>
        <p class="day_of_week">Thu</p>
        <p class="day_of_week">Fri</p>
        <p class="day_of_week">Sat</p>
      </div>
      <div id="month-days"></div>
    </section>
  </body>
</html>
