<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/styles/style_main/week_view.css" />
  </head>
  <body>
    <section id="week-view">
        <div class="Blank_part"></div>
        <div class="weekview_date_header">
          <div>
            <p class="day_of_week"></p>
            <p class="calendar-day"></p>
          </div>
          <div>
            <p class="day_of_week"></p>
            <p class="calendar-day"></p>
          </div>
          <div>
            <p class="day_of_week"></p>
            <p class="calendar-day"></p>
          </div>
          <div>
            <p class="day_of_week"></p>
            <p class="calendar-day"></p>
          </div>
          <div>
            <p class="day_of_week"></p>
            <p class="calendar-day"></p>
          </div>
          <div>
            <p class="day_of_week"></p>
            <p class="calendar-day"></p>
          </div>
          <div>
            <p class="day_of_week"></p>
            <p class="calendar-day"></p>
          </div>
        </div>
        <div class="time_interval">
          <div class="time"></div>
          <div class="time-slots"></div>
        </div>
      </section>
  </body>
</html>
